---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Navegator.astro';
import Main from '../components/Main.astro';
import Catalogo from '../components/Catalogo.astro';
---

<Layout title="Toda Linda">
		<Nav />
		<Main />
		<section>
			<Catalogo />
		</section>
		<section>
		</section>
	</main>
</Layout>
