---
import Instagram from './img/instagram.astro';
---

<div class="flex flex-col gap-4 m-2 text-gray-500">
    <h1 class="top-10">¡Bienvenidos a <strong class="text-yellow-200">TODALINDA</strong>!</h1>
    <a href="https://www.instagram.com/todalindavyg/"
    target="_blank"
    rel="noopener noreferrer"
    role="link"
    class="items-center justify-center gap-2 px-4 py-1 rounded-xl transition dark:bg-gray-100 border dark:border-gray-300  bg-gray-800 border-gray-600 dark:text-gray-700 dark:hover:text-black text-md hover:bg-yellow-100  group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black"
    >
        <Instagram />
    </a>
    <p class="max-w-[60ch] text-pretty">Nos dedicamos a ofrecer productos de alta calidad que no solo satisfacen tus necesidades,
        sino que también te brindan una experiencia de compra excepcional. Estamos seguros de que 
        encontrarás lo mejor a un precio increíble. Gracias por visitarnos y esperamos que disfrutes de nuestra selección de productos.</p>
</div>