---
import Info from './Info-main.astro';
---

<section id="inicio" class="flex justify-center w-full mx-auto container lg:max-w-4xl md:max-w-2xl">
    <div class="flex flex-col p-2 m-0 mt-10 ml-8 justify-center items-center gap-4">
        <img src="../../public/Logo.png" alt="Logo de empresa TodaLinda" class="flex size-40"></img>
        <Info />
    </div>
</section>