---
import Info from './Info-main.astro';
---
<section id="inicio" class="flex justify-center w-full h-full relative overflow-visible">
    <img src="../../public/Fondo.png" alt="Fondo" class="object-cover inset-0 absolute h-full w-full z-0">
    <div class="h-full flex flex-col p-10  m-0 mt-10 ml-8 justify-center items-center gap-4 relative z-0">
        <img src="../../public/Logo.png" alt="Logo de empresa TodaLinda" class="flex size-40 mr-8">
        <Info />
    </div>
</section>